body{

background:#121212;
color:white;
font-family: 'Poppins', sans-serif;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.contenedor{

background:#1e1e1e;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 0 20px rgba(0,0,0,.5);

}

h1{

color:#FFD700;

}

h2{

color:#ff9800;

}

p{

color:#9c27b0;

}
