<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>Biblioteca - NOBIRU</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<h1>🚨 PRUEBA NUEVA BIBLIOTECA 🚨</h1>

<form method="POST">

    <input
        type="text"
        name="titulo"
        placeholder="Título del material"
        required>

    <br><br>

    <input
        type="text"
        name="descripcion"
        placeholder="Descripción">

    <br><br>

    <input
        type="text"
        name="autor"
        placeholder="Autor">

    <br><br>

    <input
        type="date"
        name="fecha">

    <br><br>

    <button>Agregar material</button>

</form>

<hr>

<h2>Materiales guardados</h2>

{% for material in materiales %}

<div>

    <h3>{{ material[1] }}</h3>

    <p>{{ material[2] }}</p>

    <p>Autor: {{ material[3] }}</p>

    <p>Fecha: {{ material[4] }}</p>

</div>

<hr>

{% endfor %}

<a href="/dashboard">

    <button>Volver al Dashboard</button>

</a>

</body>
</html>
