<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>Biblioteca - NOBIRU</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <!-- ENCABEZADO -->
    <div class="encabezado">

        <h1 class="titulo-biblioteca">
    Biblioteca ✨
    </h1>

        <a href="/subir-material" class="boton-mas">
            +
        </a>

    </div>


    <!-- BARRA DE BÚSQUEDA -->
   <div class="buscador">

    <input
        type="text"
        placeholder="🔍 Buscar material...">

   </div>


   <h2 class="subtitulo">
    📚 Materiales compartidos
</h2>

<div class="contenedor-materiales">


    <!-- FEED -->
    {% for material in materiales %}

    <div class="card-material">

<div class="card-material">

    <h3>{{ material[1] }}</h3>

    <p>{{ material[2] }}</p>

    <p>👤 {{ material[3] }}</p>

    <p>📅 {{ material[4] }}</p>

    {% if material[5] != "" %}

   <a href="{{ material[5] }}" target="_blank">

        <button>

            📥 Descargar PDF

        </button>

    </a>

    {% endif %}

</div>

    {% endfor %}
    </div>


    <br><br>


</body>
</html>
