<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Login - NOBIRU</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="contenedor">

    <h1>NOBIRU</h1>

    <h2>Iniciar sesión</h2>

    <form>

        <input type="text"
               placeholder="Nombre de usuario">

        <br><br>

        <input type="password"
               placeholder="Contraseña">

        <br><br>

        <button>Entrar</button>

    </form>

</div>

</body>
</html>
